USE [master]
GO
/****** Object:  Database [GraduationProject]    Script Date: 4/5/2026 1:55:49 AM ******/
CREATE DATABASE [GraduationProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GraduationProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GraduationProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GraduationProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GraduationProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GraduationProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GraduationProject]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/5/2026 1:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[email] [nvarchar](150) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Users_Email] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Users] ([email], [password], [created_at]) VALUES (N'hamedhamedht@gmail.com', N'$2b$12$fJsQtUFnrEWlv7RP.EA1MO3T/enPQD6jKV3k41gjcYLPZxigjtk0y', CAST(N'2026-04-05T00:52:49.080' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164A8A42C9B]    Script Date: 4/5/2026 1:55:50 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
